nav.navbar.bg-light
{
  /* background-image: linear-gradient(to left, rgba(116, 217, 220, 0.053) , rgba(46, 210, 43, 0.251)); */
  background-image: linear-gradient(to left, rgb(57, 141, 144) , rgb(32, 161, 30));
}
body
{
  background-image: linear-gradient(to left, rgb(116, 217, 220) , rgb(46, 210, 43));
  
}
.btn.btn-primary.btn-sm
{
  background-color:rgba(26, 52, 158, 0.9); 
}

.btn.btn-primary.btn-sm:hover
{
  background-color: rgba(26, 52, 158, 0.41);
}